.center {
  text-align: center
}

.aligned {
  align-items: center;
  margin-top: 150px;
}

.center {
  text-align: center
}

.center-button{
  text-align: center
}

.contain{
  margin-top: 20px;
  margin-bottom: 0px;
}

.searchRes{
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
}




